body
{
 background-color:blue;
 color:red;
 margin-top:2px;
 margin-left:15px;
 margin-right:15px;
 font-family:algerian;
 font-size:10pt;
}
#header_box
{
 position:static;
 height:30px;
 width:100%;
 background-color:white;
 padding-top:10px;
 padding-left:10px;
}
#nav_box
{
 position:absolute;
 margin-top:15px;
 padding-right:15px;
 left:15px;
 height:50%;
 width:20%;
 background-color:white; 
} 